html{
    background-color: hsl(30, 38%, 92%);
    Font-family: Montserrat;
}

body{
    font-size:14px;
}

.container{
    display:grid;
    grid-template-rows:1fr 1fr 1fr;
    grid-template-columns:1fr 1fr 1fr;
    max-height:900px;
}


.board{
    grid-area: 2 / 2 / 3 / 3;
    width:40em;
    height:auto;
    display:grid;
    grid-template-columns: 1fr 1fr;
    border-radius:20px;
    background-color:white;
}

.board img{
    width:20em;
    border-top-left-radius:20px;
    border-bottom-left-radius: 20px;
}

.board .text{
    grid-column: 2 / 3;
    margin-left:25px;
}

#logo{
    color:hsl(228, 12%, 48%);
    font-weight: lighter;
}

#title, .price{
    font-family: Fraunces;
    font-weight: bold;
}
.board p{
    color:hsl(228, 12%, 48%);
}
.price{
    display:inline;
}
.sub{
    margin-left:20px;
    text-decoration-line:line-through;
    color:hsl(228, 12%, 48%);
}
.main{
    color:hsl(158, 36%, 37%);
}

.text a{
    display:block;
    position:absolute;
    text-align:center;
    margin-top: 30px;
    margin-left:30px;
    background-color:hsl(212, 21%, 14%);
    padding:15px 50px;
    color:white;
    border-radius:20px;
    font-weight: lighter;
    text-decoration: none;
}
.text a:hover{
    cursor: pointer;
}

